.modal {
    margin: auto;
    position: fixed;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    max-width: 80%;
    max-height: 90%;
    box-shadow: 0 10px 55px -10px rgb(0 0 0 / 0.55);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.dev {
    margin: 0;
    z-index: 10;
    width: 25%;
    height: auto;
    position: absolute;
    box-shadow: 0 10px 55px -10px rgb(0 0 0 / 0.55);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}